/*
executionMasks:
  jwt-role-glg: 17
glgjwtComment: 'Flag [17] includes = APP|USER'

*/

-- this new tempalte should be blocked from being merged 

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

  SELECT 10 as mustache


